<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058008913116-vru9ldcgp4i3g1vneakd4qgj01mjv1gq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058008913116-vru9ldcgp4i3g1vneakd4qgj01mjv1gq</string>
	<key>API_KEY</key>
	<string>AIzaSyBmcGVJgQSfsyBN3KZIddyqR8U5T68PW7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1058008913116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CyberFacility.CallOfInfo</string>
	<key>PROJECT_ID</key>
	<string>callofinfo-afad3</string>
	<key>STORAGE_BUCKET</key>
	<string>callofinfo-afad3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058008913116:ios:77fb6b7e7d2fe05d2f5019</string>
	<key>DATABASE_URL</key>
	<string>https://callofinfo-afad3.firebaseio.com</string>
</dict>
</plist>